@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 798px;
  }

  /*----------------------------------------HEADER----------------------------------------------*/

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-item {
    display: block;
  }
  .header-link {
    display: block;
    font-weight: 600;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  .header-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    bottom: -1px;
  }

  .header-contacts-list {
    display: flex;
  }
  .header-email {
    padding-top: 24px;
  }
  .header-email,
  .header-telephon {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-email:hover,
  .header-email:focus {
    color: var(--accent-color);
  }

  .header-telephon:hover,
  .header-telephon:focus {
    color: var(--accent-color);
  }

  /* HAMBURGER */

  .menu-open-icon {
    display: none;
  }

  .mob-menu {
    display: none;
  }
  /*-----------------------------------------BANER----------------------------------------------*/
  .slogan {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-tablet.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slogan {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-tablet-2x.jpg");
    }
  }

  .slogan-banner {
    max-width: 496px;
    font-size: 56px;
    line-height: 1;
  }

  .slogan-button {
    margin-top: 48px;
  }
  /*-----------------------------------SKILLS---------------------------------------------------*/

  .skills-item {
    flex-basis: calc((100% - 48px) / 2);
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  /*--------------------------OUR TEAM CARDS----------------------------------*/

  .team > .container {
    width: 558px;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .team-members-item {
    flex-basis: calc((100% - 48px) / 2);
  }

  /*--------------------------------------------CUSTOMERS----------------------------------------*/
  .customers > .container {
    width: 558px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }

  /*--------------------------------------------FOOTER----------------------------------------*/
  .footer > .container {
    width: 528px;
  }

  .backdrop > .container {
    width: 798px;
  }

  .container-footer {
    display: flex;
  }

  .footer-styles {
    display: inline-block;
    margin: 0 auto;
    /* margin-right: 120px; */
    margin-right: 24px;
    max-width: 264px;
    min-height: 110px;
    width: 264px;
    /* margin-left: auto;
  margin-right: auto;
  justify-content: center; */
  }
  .footer-form {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-social-media {
    display: inline-block;
    margin: 0 auto;
  }
  .wrap {
    display: flex;
  }

  .footer-social-media-title {
    margin: 0;
  }

  .footer-text {
    width: 264px;
    height: 72px;
  }
  .modal-subscribe {
    margin-left: 0 auto;
  }
  .modal-subscribe-section {
    display: inline;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .footer-modal-button {
    margin-top: 0;
    margin-left: 24px;
  }
  .footer-modal-input {
    margin-left: 0 auto;
  }

  /* --------------------------PORTFOLIO--------------------------------- */

  .portfolio-images-list {
    width: calc((100% - 56px) / 2);
  }

  .portfolio-images {
    gap: 24px;
  }

  .potrfolio-button-list {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio {
  padding-top: 64px;
  padding-bottom: 96px;
}

}
